<h1>Update Landmark <%= @landmark.name %></h1>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
 <label>Name:</label>

 <br></br>

 <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
<input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">

 <br></br>

 <label>Choose an existing Figure:</label>
 <br></br>

 <% Figure.all.each do |figure| %>
   <input type="radio" name="landmark[figure_id]" value="<%=figure.id%>" id="<%=figure.id%>" <%='checked' if @landmark.figure == figure %>>
   <%=figure.name%>
   </input>
 <% end %>

 <br></br>
 <label>and/or, create a new Figure:</label>
 <br></br>
 <label>Name:</label>
   <input type="text" name="figure[name]" id="figure_name"></input>

 <br></br>

 <input type="submit" value="Edit Landmark" id="Edit Landmark">
</form>
