<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Figure</title>
  </head>
  <body>
    <form class="" action="/figures" method="post">
      <label for="figure[name]">Figure Name: </label>
      <input id="figure_name" type="text" name="figure[name]" value="">

      <p><label for="figure[title_ids][]">Title ID(s): </label><p>
      <% @titles.each do |title| %>
      <p><input id="<%= "title_#{title.id}" %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= "title_#{title.id}" %></p>
      <% end %>

      <p><label for="figure[landmark_ids][]">Landmark ID(s): </label><p>
      <% @landmarks.each do |landmark| %>
      <p><input id="<%= "landmark_#{landmark.id}" %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= "landmark_#{landmark.id}" %></p>
      <% end %>

      <label for="landmark[name]">Landmark Name: </label>
      <input id="new_landmark" type="text" name="landmark[name]" value="">

      <label for="title[name]">Title Name: </label>
      <input id="new_title" type="text" name="title[name]" value="">

      <input id="submit" type="submit" name="" value="Create New Figure">
    </form>
  </body>
</html>
