<h1>Create a new figure</h1>
<form action="/figures" method="post">
  <label>Name:</label><br>
  <input type="text" name="figure[name]" id="figure_name"><br>

  <label>Choose an existing landmark:</label><br>
 <% @landmarks.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>">
  <%= landmark.name %></input>
 <% end %><br>

 <label>Choose an existing title:</label><br>
 <% @titles.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>">
  <%= title.name %></input>
 <% end %><br>

 <label>Create a new landmark:</label><br>
 <label>Name:</label><br>
 <input type="text" name="landmark[name]" id="new_landmark" ><br>
 <input type="text" name="landmark[year_completed]"><br>

 <label>Create a new title:</label><br>
 <label>Name:</label><br>
 <input type="text" name="title[name]" id="new_title"><br>



 <input type="submit" id="submit" value="Create New Figure">
</form>
